$radio-button-medium-padding: 10px 20px;
$radio-button-medium-font-size: 14px;

$radio-button-small-padding: 9px 15px;
$radio-button-small-font-size: 12px;

$radio-button-mini-padding: 7px 15px;
$radio-button-mini-font-size: 12px;