$radio-color: '#606266';
$radio-font-size: '14px';

$radio-medium-padding: 10px 20px 0 10px;
$radio-medium-border-radius: 4px;
$radio-medium-height: 36px;

$radio-small-padding: 8px 15px 0 10px;
$radio-small-border-radius: 3px;
$radio-small-height: 32px;

$radio-mini-padding: 6px 15px 0 10px;
$radio-mini-border-radius: 3px;
$radio-mini-height: 28px;